/* green scheme */
$gray: #333333;
$red: #d32f2f;
$white: #ffffff;
$black: #000000;
$green: #199550;
$dark_green: #347c54;
$light_green: #cff6e1;
$light_green_with_opacity: rgba($light_green, 0.2);
$light_gray: #dfded0;
$light_gray_for_tags: rgba(0, 0, 0, 0.05);

$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);
$instagram_bg: rgba(108, 39, 179, 1);
$youtube_bg: rgba(212, 36, 40, 1);
$facebook_bg: rgba(59, 89, 152, 1);
$shadow: rgba(#c2d5de, 0.5);

$base: $green;
$alert: $red;
$accent-1: $dark_green;
$accent-2: $light_green;
$accent-2-opacity: $light_green_with_opacity;
$accent-3: $light_gray;
$accent-3-opacity: $light_gray_for_tags;
$light-on-dark: $white;
$dark-on-light: $black;
$text: $gray;

/* brown scheme */
/* $gray: #222222;
$red: #d32f2f;
$white: #ffffff;
$black: #000000;
$brown: #801336;
$dark_brown: #6b0c2b;
$light_brown: #ffb3cc;
$light_brown_with_opacity: rgba($light_brown, 0.2);
$light_gray: #dfded0;
$light_gray_for_tags: rgba(0, 0, 0, 0.05);

$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);
$instagram_bg: rgba(108, 39, 179, 1);
$youtube_bg: rgba(212, 36, 40, 1);
$facebook_bg: rgba(59, 89, 152, 1);
$shadow: rgba(#c2d5de, 0.5);

$base: $brown;
$alert: $red;
$accent-1: $dark_brown;
$accent-2: $light_brown;
$accent-2-opacity: $light_brown_with_opacity;
$accent-3: $light_gray;
$accent-3-opacity: $light_gray_for_tags;
$light-on-dark: $white;
$dark-on-light: $black;
$text: $gray; */
