.Logo {
  display: flex;
  align-items: center;
  width: 70%;

  &-Text {
    position: relative;
    top: 0;
    font-size: 2.6rem;
    font-weight: 700;
    margin-left: 20px;
    color: $base;
  }

  &-Img {
    /* width: 200px; */
    width: 170px;
    min-width: 60px;
  }

  &-Number {
    /* position: absolute;
    left: -63px;
    top: -8px; */
    font-size: 3.3rem;
  }
}

@include mq-max(1327px) {
  .Logo {
    &-Text {
      margin-left: 15px;
    }
  }
}

@include mq-max(1313px) {
  .Logo {
    &-Img {
      width: 160px;
    }

    &-Text {
      font-size: 2.3rem;
    }

    &-Number {
      /* left: -60px;
      top: -5px; */
      font-size: 2.5rem;
    }
  }
}

/* @include mq-max(1230px) {
  .Logo {
    &-Img {
      width: 170px;
    }
  }
} */

@include mq-max(1160px) {
  .Logo {
    &-Img {
      width: 150px;
    }

    &-Text {
      font-size: 2.2rem;
      margin-left: 10px;
    }

    &-Number {
      font-size: 2.4rem;
    }
  }
}

@include mq-max(1122px) {
  .Logo {
    &-Img {
      width: 135px;
    }

    &-Text {
      font-size: 2rem;
    }

    &-Number {
      /* left: -42px;
      top: -2px; */
      font-size: 2.2rem;
    }
  }
}

@include mq-max(991px) {
  .Logo {
    &-Img {
      width: 170px;
    }

    &-Text {
      font-size: 2.3rem;
      margin-left: 13px;
    }

    &-Number {
      /* left: -50px; */
      font-size: 2.6rem;
    }
  }
}

@include mq-max(767px) {
  .Logo {
    width: 100%;

    &-Img {
      width: 125px;
    }

    &-Text {
      font-size: 1.8rem;
      margin-left: 13px;
    }

    &-Number {
      /* left: -41px; */
      font-size: 2.1rem;
    }
  }
}

@include mq-max(575px) {
  .Logo {
    justify-content: center;
  }
}

@include mq-max(310px) {
  .Logo {
    flex-flow: column wrap;

    &-Text {
      text-align: center;
    }
  }
}

@include mq-max(279px) {
  .Logo {
    &-Img {
      width: 110px;
    }

    &-Text {
      font-size: 1.6rem;
    }

    &-Number {
      /* left: -40px;
      top: -4px; */
      font-size: 1.9rem;
    }
  }
}
