.Header {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: $base-light;
  width: 100%;
  color: $base;
  position: relative;

  &-Timer {
    position: absolute;
    width: 40%;
    top: 0;
  }
}

/* @include mq-max(1700px) {
  .Header {
    &-Timer {
      width: 42%;
      left: 32%;
    }
  }
}

@include mq-max(1461px) {
  .Header {
    &-Timer {
      width: 45%;
    }
  }
} */

/* @include mq-max(1399px) {
  .Header {
    &-Timer {
      left: 34%;
    }
  }
} */

/* @include mq-max(1290px) {
  .Header {
    &-Timer {
      width: 44%;
    }
  }
} */

@include mq-max(1225px) {
  .Header {
    &-Timer {
      width: 45%;
      left: 33%;
    }
  }
}

@include mq-max(1198px) {
  .Header {
    &-Timer {
      width: 46%;
      left: 32%;
    }
  }
}

/** with installed plugin **/
@include mq-max(1700px) {
  .Header {
    &-Timer {
      width: 41%;
      left: 35%;
    }
  }
}

@include mq-max(1416px) {
  .Header {
    &-Timer {
      left: 37%;
    }
  }
}

@include mq-max(1380px) {
  .Header {
    &-Timer {
      left: 38%;
    }
  }
}

@include mq-max(1313px) {
  .Header {
    &-Timer {
      width: 41%;
      left: 37%;
    }
  }
}

@include mq-max(1252px) {
  .Header {
    &-Timer {
      width: 40%;
    }
  }
}

@include mq-max(1230px) {
  .Header {
    &-Timer {
      left: 38%;
    }
  }
}

@include mq-max(1199px) {
  .Header {
    &-Timer {
      width: 40%;
      left: 38%;
    }
  }
}

/* @include mq-max(1185px) {
  .Header {
    &-Timer {
      width: 45%;
      left: 34%;
    }
  }
} */

@include mq-max(1122px) {
  .Header {
    &-Timer {
      width: 44%;
      left: 36%;
    }
  }
}

@include mq-max(1074px) {
  .Header {
    &-Timer {
      width: 40%;
      left: 36%;
    }
  }
}

@include mq-max(1010px) {
  .Header {
    &-Timer {
      width: 39%;
      left: 37%;
    }
  }
}

@include mq-max(991px) {
  .Header {
    padding-bottom: 20px;

    &-Logo {
      order: 0;
    }

    &-Info {
      order: 1;
    }

    &-Timer {
      position: relative;
      margin-top: 15px;
      width: 100%;
      left: 0;
      order: 2;
    }
  }
}

@include mq-max(575px) {
  .Header {
    &-Info {
      margin-top: 15px;
    }
  }
}
