.ToPartners.Container.Text_Center
  h3.ToPartners-Title Уважаемые коллеги, выпускники, друзья!
  p Приглашаем всех, кому дорога и важна наша Вятская государственная сельскохозяйственная академия, стать гостями
  | или участниками торжественных мероприятий и внести посильный вклад в подготовительные работы.
  p Будем благодарны за помощь и рады видеть Вас на нашем празднике!